html, body{
    font-family: 'Futura';
    color: #637899;
    scroll-behavior: smooth;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

.container{
    margin: 0px auto;
    max-width: 1176px;
    height: 100%;
}

.header{
    margin-bottom: 96px;
}

.header__content{
    max-width: 488px;
    max-height: 790px;
    border: 1px solid #DBE3F0;
    border-radius: 0  0 20px 20px;
    box-shadow: 0px 20px 40px 0px #0000000F;
    position: relative;
}

.header__body{
    display: flex;
    justify-content: space-between;
}

.header__info{
    margin: 0px 48px;
    margin-bottom: 48px;
}

.header__button-container{
    margin: 0px 48px;
    margin-bottom: 96px;
}

.header__title{
    font-family: Futura Cond;
    font-size: 64px;
    text-align: center;
    color: #27303F;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.header__p{
    font-family: Futura Book;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.25%;
    font-weight: 400;
}

.header__name{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 96px;
}


.header__content{
    display: flex;
    flex-direction: column;
}

.header__logo {  
    margin-bottom: -65px; 
}

.header__image{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-top: 80px;
}

.header__button {
    width: 392px;
    height: 56px;
    border: 2px solid #56B8FF;
    border-radius: 12px;
    color: #56B8FF;
    font-size: 18px;
    letter-spacing: 4%;
    line-height: 20px;
    font-weight: 800;
    text-align: center;
    background: none;
    padding: 8px 0px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.header__button-container:last-child{
    margin-bottom: 96px;
}

.header__time{
    font-family: Futura Book;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.25%;
    text-align: center;
    font-weight: 40;
}

.header__href-container{
    margin: 0 32px;
    padding: 24px;
    text-align: center;
}

.header__arc{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -12;
}

.header__link-item{
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25%;
    font-weight: 500;
}

/* ============================================main============================================= */

.partners__titles{
    color: #27303F;
    font-weight: 600;
    font-size: 24px;
    line-height: 31.68px;
    letter-spacing: 0.25%;
    text-align: center;
    margin-bottom: 32px;
}



.partners__ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
}

.partners__ul-item{
    margin-right: 72px;
}

.partners__ul-item:last-child{
    margin-right: 0px;
}

.main__partners{
    margin-bottom: 144px;
}

.main__pain{
    margin-bottom: 144px;
}

.pain__title{
    color: #27303F;
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.25%;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.pain__grid{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.pain__grid-item{
    border: 1px solid #DBE3F0;
    border-radius: 20px;
    width: 376px;
    height: 272px;
    margin-right: 24px;
    position: relative;
}

.pain__grid-item:last-child{
    margin: 0px;
}

.pain__grid-item--small{
    border: 1px solid #DBE3F0;
    border-radius: 20px;
    width: 276px;
    height: 272px;
    margin-right: 24px;
    margin-bottom: 24px;
    position: relative;
}

.pain__grid-item--big{
    border: 1px solid #DBE3F0;
    border-radius: 20px;
    border: 1px solid #DBE3F0;
    width: 476px;
    height: 272px;
    position: relative;
}

.pain__text{
    font-size: 24px;
    line-height: 31.68px;
    letter-spacing: 0.25%;
    font-weight: 500;
    padding: 32px;
}

.pain__smile{
    position: absolute;
    bottom: 24px;
    right: 24px;
}

.pain__footer-title{
    color: #27303F;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.68px;
    letter-spacing: 0.25%;
    text-align: center;
}


.main__features{
    padding-top: 144px;
    background-color: #F9FAFD;
    padding-bottom: 144px;
    margin-bottom: 144px;
}

.features__info{
    
    margin-bottom: 80px;
    
}

.feature__title{
    color: #27303F;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.25%;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.features__p{
    font-family: Futura Book;
    color: #637899;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25%;
    text-align: center;
}

.features__list {
    display: flex;
}

.features__list-item {
    width: 376px; 
    height: 280px; 
    border: 1px solid #DBE3F0;
    border-radius: 20px;
    box-shadow: 0px 20px 40px 0px #0000000F;
    margin-right: 24px; 
    padding: 0 0 20px 20px;
    padding-right: 20px;
}


.features__smile{
    margin-top: 48px;
    font-size: 64px;
    text-align: center;
    margin-bottom: 24px;
}

.features__text{
    color: #27303F;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 72px;
}



.features__list:last-child{
    margin-right: 0px;
}

.main__members{
    margin-bottom: 144px;
}

.members__grid-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.members__title{
    color: #27303F;
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.25%;
    text-transform: uppercase;
    margin-bottom: 80px;
    text-align: center;
}

.members__p{
    font-family: Futura Book;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25%;
    width: 512px;
    margin: 0 auto;
    text-align: center;
}

.members__info{
    margin-bottom: 80px;
}

.members__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-row-gap: 56px;
    grid-column-gap: 24px;
    margin-bottom: 96px;
  }

  
.member__image-box {
    height: 196px;
    width: 196px;
    border: 1px solid #DBE3F0;
    box-shadow: 0px 20px 40px 0px #0000000F;
    border-radius: 50px;
    margin-bottom: 24px;
    overflow: hidden;  
}

.member__image {
    width: calc(100% + 40px); 
    height: calc(100% + 100px); 
    object-fit: cover;
    margin-left: -20px;  
    margin-top: -20px; 
}

.member__name{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25%;
    text-align: center;
    margin-bottom: 4px;
}
.member__post{
    font-family: Futura Book;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.25%;
    text-align: center;
    margin-bottom: 4px;
}

.member__company{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.5%;
    text-align: center;
}

.member__company--ws{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #56B8FF;
}

.member__image--none{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.member__maksim{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 424px;
    border: 1px solid #DBE3F0;
    padding: 56px 0px 56px 0px;
    border-radius: 20px;
    position: relative;
}

.maksim__info{
    display: flex;
    justify-content: space-between;
    width: 672px;
}

.maksim__image-box {
    height: 152px;
    width: 152px;
    border: 1px solid #DBE3F0;
    box-shadow: 0px 20px 40px 0px #0000000F;
    border-radius: 50px;
    margin-bottom: 24px;
    overflow: hidden;  
}

.maksim__image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.maksim__about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maksim__text {
    font-family: Futura Book;
    width: 100%; 
    max-width: 480px; 
    height: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0025em;
    text-align: left;
}

.maksim__text > *:not(:last-child) { 
    margin-bottom: 24px;
}

.maksim__vector{
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.main__question{
    padding-top: 144px;
    background-color: #F9FAFD;
}

.question__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.0025em;
    color: #27303F;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.question__p {
    font-family: Futura Book;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0025em;
    margin-bottom: 48px;
}

.question__inner {
    display: flex;
    justify-content: space-between;
}

.question__info {
    display: flex;
    flex-direction: column;
}

.question__image {
    margin-top: -224px;
}

.question__button{
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #56B8FF;
    text-transform: uppercase;
    width: 392px;
    height: 56px;
    border-radius: 12px;
    border: 2px solid #56B8FF;
    background: none;
}
/* 
====================================================footer============================================= */


.footer__social{
    display: flex;
    flex-direction: column;
    width: 276px;
    margin-right: 24px;
}

.footer__social-media{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.footer__social-media:last-child{
    margin-bottom: 0;
}

.footer__questions{
    display: flex;
    flex-direction: column;
}

.media__image{
    margin-right: 12px;
}

.footer__social-title{
    margin-bottom: 21px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.0025em;
}

.footer__body{
    display: flex;
    flex-direction: column;
}

.footer__socials{
    display: flex;
    margin-bottom: 37px;
}

.footer__social-questions > *:not(:last-child) { 
    margin-bottom: 16px;
}

.footer__social-questions{
    display: flex;
    flex-direction: column;
}
.media__text{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.0025em;
}

.footer{
    padding-bottom: 80px;
    background-color:#F9FAFD;
}

.footer__email{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.0025em;
    text-decoration: underline;
}

.footer__phone{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.0025em;
}

.footer__under{
    display: flex;
    justify-content: space-between;
    align-items:start;
}



/* =================================================================media========================= */

